@{
    Layout = "_LayoutAuthorized";
    ViewData["Title"] = "Authorized";
}

<div style="text-align: center; margin-top: 50px;">
    <h1>Welcome, Authorized User!</h1>
    <p>You have successfully logged in.</p>
</div>