@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAuthorized";
    ViewData["Title"] = "Profile";
}
<div style="text-align: center; margin-top: 50px;">
    <h1>Your Profile</h1>
    <p>Here you can view and edit your profile information.</p>
    <p>Username: @ViewData["Username"]</p>
    <p>Email: @ViewData["Email"]</p>
    <p>Full Name: @ViewData["FullName"]</p>
    <p>Password: @ViewData["Password"]</p>
</div>

