@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<div style="text-align: center; margin-top: 50px;">
    <h1>Welcome, Guest!</h1>
    <p>Please log in to access your account.</p>
</div>
