@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="text-center">
    <h1 class="display-4">Login</h1>
    <checklist>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" size="35" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" size="35" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary" style="padding: 10px 20px;">Login</button>
        <button type="button" class="btn btn-secondary" style="padding: 10px 20px;">Register</button>
    </form>
    </checklist>
</div>
