@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <h1>Regeister</h1>
    <form>
        <div>
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" size="35" placeholder="Enter full name">
        </div>
        <div>
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" size="35" placeholder="Enter email">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" size="35" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" size="35" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary" style="padding: 10px 20px;">Register</button>
    </form>
</body>
</html>